<html>
    <head>
        <meta>
        <title>Shopping</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header.toLocaleUpperCase()  }}</h1>
            <input @keyup.enter="movies.push(newMovie)" v-model="newMovie" placeholder="Add new movies here!" type="text">
            <button v-on:click="movies.push(newMovie)">Save Item</button>
            <ul>
                <li v-for="movie in movies">{{movie}}</li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            let shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    header: 'My First Vue App',
                    newMovie: '',
                    movies: [
                        'The Blues Brothers',
                        'The Matrix',
                        'Kill Bill Vol. 1 & 2',
                        'Saw',
                        'Animal House'
                    ] 
                }
            });
        </script>
    </body>
</html>